.flex-container-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;
    flex-wrap: wrap;
    gap: 250px;
    background-color: #1F2937;
}

.header-logo {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    font-size: 18px;
    color: #E5E7EB;
}

.flex-container-two {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex: 0 1 0;
    flex-wrap: wrap;
}

/* Fix flex container two and hero text image and text sections spacing */

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 80px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
}


.flex-container-three {
    border: 1px solid green;
}

.image-flex-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.project-images {
    display: block;
    height: 175px;
    width: auto;
    padding: 25px;
}

.image-caption-style {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}


@media screen and (max-width: 910px) {
    .flex-container-one {
        gap: 25px;
    }

    ul {
        font-size: 16px;
    }
}