* {
    margin: 0px;
}

.flex-container-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex: 1 1 0; */
    flex-wrap: wrap;
    gap: 250px;
    background-color: #1F2937;
}

/* .header-logo {

} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    font-size: 18px;
    color: #E5E7EB;
}

.flex-container-two {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Fix flex container two and hero text image and text sections spacing */
/*possibly add some more margin or padding tot he herotext and subtext or mess with display flex on it to see if possibly aligning the items fixes it.*/
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 80px;
    margin-bottom: 0px;
    word-wrap: normal;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    word-wrap: normal;
}

.hero-image {
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.image-flex-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.project-images {
    display: block;
    height: 175px;
    width: auto;
    padding: 25px;
}

.image-caption-style {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.flex-container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 375px;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.testimonial-paragraph {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.testimonial-author {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: black;
}

.flex-container-five {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 375px;
    padding: 10px;
    background-color: #3882F6;
    
}

.calltoaction-paragraph {
    display: block;
    font-size: 24px;
    flex: 0 1 0;
}

.calltoaction-button {

}

@media screen and (max-width: 910px) {
    .flex-container-one {
        gap: 15px;
    }

    ul {
        font-size: 16px;
        gap: 25px
    }

    .hero-text, .hero-subtext {
        margin-left: 10px;
    }

    .hero-text {
        font-size: 24px;
        margin-top: 15px;
    }

    .hero-subtext {
        font-size: 14px;
    }

    .hero-image {
        margin-top: 15px;

        width: 200px;
    }

    .testimonial-paragraph {
        font-size: 20px;
    }

    .testimonial-author {
        font-size: 14px;
    }
}

/* Need to add media queries for phones and tablet size screens for the reference testamonial sections */